.ui-loader-background {
	width:100%;
	height:100%;
	top:0;
	margin: 0;
	background: rgba(0, 0, 0, 0.3);
	display:none;
	position: fixed;
	z-index:100;
}

.ui-loading .ui-loader-background {
	display:block;
}